<!DOCTYPE html>
<html>
<head>
    <title>Comanda</title>
</head>
<body>
<h1> Comanda {{comanda.id}}</h1>
<p><strong>{{comanda.addresa_destinatorului}}</strong></p>
<p><strong>{{comanda.adresa_expidetor}}</strong></p>
<ol>{{#comanda.status}}
    <li>Current state : {{status}} && {{data}}</li>
    {{/comanda.status}}
</ol>
<p><strong>{{comanda.status}}</strong></p>
</body>
</html>